:root {
	--element-size: 20rem;
	--internal-margin: .8em;
	--background: #afe9ff;
	--element-background: #d7509f;
	--element-color: #fffb96;
}

body {
	font-size: 1.5em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/* background-color: var(--background); */
}

main {
	display: flex;
	margin: 2em;
	flex-wrap: wrap;
}

.element {
	position: relative;
	width: var(--element-size);
	height: var(--element-size);
	
	background-color: var(--element-background);
	color: var(--element-color);
	
	display: flex;
	
	border : 1em solid var(--background);
	
	margin: .8em
}

.accro, .name {
	text-transform: capitalize;
}

.number, .mass, .name {
	position: absolute;
}
.number, .mass {
	font-size: 1.1em;
	top: var(--internal-margin);
}
.number {
	left: var(--internal-margin);
}
.mass {
	right: var(--internal-margin);
}
.name {
	width: 100%;
	text-align: center;
	bottom: var(--internal-margin);
	font-size: 1.3em;
}

.accro {
	margin: auto;
	font-size: 4.5em;
	font-weight: bold;
}